html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap>.container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}



.ico-card-grid {
    display: flex;
    flex-wrap: wrap;
}

.ico-card {
    position: relative;
    border-radius: 10px 10px 0 0;
    background-color: #FFF;
    flex: 0 1 28%;
    box-sizing: border-box;
    margin: 0.4rem 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.ico-card-inner {
    padding: 0.55rem 1rem 0.7rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;




}

.ico-card-logo {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.ico-card-primary {
    padding: 0 1rem;
}

.ico-card-title {
    margin: 0.35rem 0;
    color: #555;
    font-size: 0.93em;
}

.ico-card-title span {
    margin: 0 0.4rem;
}

.ico-card-eta {
    color: #777;
}

.ico-card-rating {
    font-size: 3.55rem;
    padding: 0 0.5rem;
    margin: -0.45rem 0 0 0;
    color: #00E676;
    font-family: Lato;
    /*   font-weight: 00; */
}

.low-rating {
    color: #FF4343;
}

.mid-rating {
    color: #FF8C00;
}

.high-rating {
    color: #00E676;
}

.ico-card progress[value] {
    position: absolute;
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    vertical-align: -0.3rem;
}

.ico-card progress[value]::-webkit-progress-bar {
    /*   border-radius: 0 0 10px 10px;  */
    background: #a5a5a5;


}

.ico-card progress[value]::-webkit-progress-value {
    background: #69F0AE;
    border-radius: 2px;

}